/* You can add global styles to this file, and also import other style files */
@import "https://unpkg.com/spectre.css/dist/spectre.min.css";

#version {
  bottom: 0;
  position: fixed;
  margin: 10px;
}
