<table class="table table-striped table-hover">
  <thead>
    <tr>
      <th></th>
      <th>Name</th>
      <th>Price</th>
      <th>Stock Count</th>
      <th>Date</th>
      <th>Action</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let product of productList | async">
      <td><img [src]="product.IconUrl" /></td>
      <td>{{ product.Name }}</td>
      <td>${{ product.Price | number:'1.1-2' }}</td>
      <td>{{ product.StockCount }}</td>
      <td>{{ product.Date | date:'yyyy-MM-dd HH:mm:ss' }}</td>
      <td><a routerLink="/product/detail">Details</a></td>
    </tr>
  </tbody>
</table>
