<table class="table table-striped table-hover">
  <thead>
    <tr>
      <th></th>
      <th>Name</th>
      <th>Price</th>
      <th>Stock Count</th>
      <th>Date</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let product of productList | async">
      <td><img [src]="product.IconUrl" /></td>
      <td>{{ product.Name }}</td>
      <td>${{ product.Price | number:'4.5-5' }}</td>
      <td>{{ product.StockCount }}</td>
      <td>{{ product.Date | date }}</td>
    </tr>
  </tbody>
</table>
